<!--noindex-->
<div class="mt10-xs mb10" style="margin-top: 10px;">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 1. Над текстом (840*120) -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:840px;height:120px"
	     data-ad-client="ca-pub-7134947387197644"
	     data-ad-slot="5398269419"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
<!--/noindex-->