<div class="row" style="margin-top: 30px;" id="stopadv">
	<div class="col-sm-6">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- 3. Квадрат №1 (336 * 280) -->
		<ins class="adsbygoogle"
		     style="display:inline-block;width:336px;height:280px"
		     data-ad-client="ca-pub-7134947387197644"
		     data-ad-slot="6103593416"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</diV>
	<div class="col-sm-6">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- 3. Квадрат №2 (336 * 280) -->
		<ins class="adsbygoogle"
		     style="display:inline-block;width:336px;height:280px"
		     data-ad-client="ca-pub-7134947387197644"
		     data-ad-slot="5684791019"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</div>