			<footer class="footer">
				<div class="container">
					<div class="row">

						<div class="col-sm-12">
							<div class="heading-footer"><h4>О проекте</h4></div>
							<p>На сайте собранно ОЧЕНЬ много материала посвященного 
                    звукотехнике - предварительные усилители, усилители мощности 
                    и источники питания. Это принципиальные схемы, описания, чертежи 
                    печатных плат (правда далеко не на все схемы), а так же обзоры 
                    печатных изданий. Здесь вы можете найти более десятка предварительный 
                    усилителей с регуляторами тембра и эквалайзерами, около ста 
                    схем усилителей мощности от 2 до 2000 Вт, около 40 схем ламповых 
                    усилителей, чуть больше десятка схем импульсных источников 
                    питания, как автомобильных (до 600Вт), так и сетевых (до 2000Вт), 
                    разжована схемотехника компьтерных блоков питания, дюжина 
                    описаний акустических систем, а так же довольно много материала 
                    раскрывающего секреты качественного воспроизведения звука, 
                    начиная от используемой элементной баазы, схемотехники и заканчивая 
                    теорией распространения звуковых колебаний.</p>
							<a href="/about.html" class="btn btn-primary btn-rw mt10">
								Подробнее о сайте
							</a>
						</div>
					</div>
					

					<!--noindex-->
					<div class="row">
						<hr class="dark-hr">
						<div class="col-sm-9 col-xs-8">
							<p class="copyright">© 2015 <a href="http://infotechcom.ru" target="_blank">Инфоком</a></p>
						</div>

						<div class="col-sm-1 col-xs-1">
							<!-- Yandex.Metrika informer -->
							<a href="https://metrika.yandex.ru/stat/?id=31882661&amp;from=informer"
							target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/31882661/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
							style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:31882661,lang:'ru'});return false}catch(e){}" /></a>
							<!-- /Yandex.Metrika informer -->

							<!-- Yandex.Metrika counter -->
							<script type="text/javascript">
							    (function (d, w, c) {
							        (w[c] = w[c] || []).push(function() {
							            try {
							                w.yaCounter31882661 = new Ya.Metrika({
							                    id:31882661,
							                    clickmap:true,
							                    trackLinks:true,
							                    accurateTrackBounce:true,
							                    webvisor:true
							                });
							            } catch(e) { }
							        });

							        var n = d.getElementsByTagName("script")[0],
							            s = d.createElement("script"),
							            f = function () { n.parentNode.insertBefore(s, n); };
							        s.type = "text/javascript";
							        s.async = true;
							        s.src = "https://mc.yandex.ru/metrika/watch.js";

							        if (w.opera == "[object Opera]") {
							            d.addEventListener("DOMContentLoaded", f, false);
							        } else { f(); }
							    })(document, window, "yandex_metrika_callbacks");
							</script>
							<noscript><div><img src="https://mc.yandex.ru/watch/31882661" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
							<!-- /Yandex.Metrika counter -->
						</div>
						<div class="col-sm-1 col-xs-1">
							<!--LiveInternet counter--><script type="text/javascript"><!--
							document.write("<a href='//www.liveinternet.ru/click' "+
							"target=_blank><img src='//counter.yadro.ru/hit?t53.4;r"+
							escape(document.referrer)+((typeof(screen)=="undefined")?"":
							";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
							screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
							";h"+escape(document.title.substring(0,80))+";"+Math.random()+
							"' alt='' title='LiveInternet: показано число просмотров и"+
							" посетителей за 24 часа' "+
							"border='0' width='88' height='31'><\/a>")
							//--></script><!--/LiveInternet-->

						</div>


						<div class="col-sm-1 col-xs-2 text-right">

							<a href="#" class="scroll-top"><div class="footer-scrolltop-holder"><span class="ion-ios7-arrow-up footer-scrolltop"></span></div></a>
						</div>
					</div>
					<!--/noindex-->
				</div><!-- /container -->
			</footer><!-- /footer -->
			<!-- End Footer --> 
		</div><!-- /boxed -->
	</div><!-- /bg boxed-->
	<!-- End Boxed or Fullwidth Layout -->
<!--noindex-->
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/hover-dropdown.js"></script>
	<script type="text/javascript" src="/js/scripts.js"></script>
<!--/noindex-->