			<!-- Begin Footer -->
			<footer class="footer">
				<div class="container">
					<div class="row">
						<!-- About -->
						<div class="col-sm-12">
							<div class="heading-footer"><h4>О проекте</h4></div>
							<p>На сайте собранно ОЧЕНЬ много материала посвященного 
                    звукотехнике - предварительные усилители, усилители мощности 
                    и источники питания. Это принципиальные схемы, описания, чертежи 
                    печатных плат (правда далеко не на все схемы), а так же обзоры 
                    печатных изданий. Здесь вы можете найти более десятка предварительный 
                    усилителей с регуляторами тембра и эквалайзерами, около ста 
                    схем усилителей мощности от 2 до 2000 Вт, около 40 схем ламповых 
                    усилителей, чуть больше десятка схем импульсных источников 
                    питания, как автомобильных (до 600Вт), так и сетевых (до 2000Вт), 
                    разжована схемотехника компьтерных блоков питания, дюжина 
                    описаний акустических систем, а так же довольно много материала 
                    раскрывающего секреты качественного воспроизведения звука, 
                    начиная от используемой элементной баазы, схемотехники и заканчивая 
                    теорией распространения звуковых колебаний.</p>
							<a href="/about.html" class="btn btn-primary btn-rw mt10">
								Подробнее о сайте
							</a>
						</div>
						
						<!-- 
						<div class="col-sm-3 mg25-xs">
							<div class="heading-footer"><h4>Social Networks</h4></div>
							<a class="btn btn-social-icon btn-twitter btn-lg">
								<i class="fa fa-twitter"></i>
							</a>
							<a class="btn btn-social-icon btn-instagram btn-lg">
								<i class="fa fa-instagram"></i>
							</a>
							<a class="btn btn-social-icon btn-facebook btn-lg">
								<i class="fa fa-facebook"></i>
							</a>
							<a class="btn btn-social-icon btn-vimeo btn-lg">
								<i class="fa fa-vimeo-square"></i>
							</a>
							<a class="btn btn-social-icon btn-linkedin btn-lg">
								<i class="fa fa-linkedin"></i>
							</a>
							<a class="btn btn-social-icon btn-google-plus btn-lg">
								<i class="fa fa-google-plus"></i>
							</a>
							<a class="btn btn-social-icon btn-adn btn-lg">
								<i class="fa fa-adn"></i>
							</a>
							<a class="btn btn-social-icon btn-bitbucket btn-lg">
								<i class="fa fa-bitbucket"></i>
							</a>
							<a class="btn btn-social-icon btn-tumblr btn-lg">
								<i class="fa fa-tumblr"></i>
							</a>
							<a class="btn btn-social-icon btn-flickr btn-lg">
								<i class="fa fa-flickr"></i>
							</a>
						</div>
						Social -->

						<!-- 
						<div class="col-sm-3 mg25-xs">
							<div class="heading-footer"><h4>Contact us</h4></div>
							<p><span class="ion-home footer-info-icons"></span><small class="address">228 Park Ave S New York, NY 10003</small></p>
							<p><span class="ion-email footer-info-icons"></span><small class="address"><a href="mailto:info@raleway.com">info@raleway.com</a></small></p>
							<p><span class="ion-ios7-telephone footer-info-icons"></span><small class="address">+11192386513</small></p>
						</div>
						Contact -->

						<!-- 
						<div class="col-sm-3 hidden-xs">
							<div class="heading-footer"><h4>Recent Work</h4></div>
							<div class="col-xs-4 recent-work-padding">
								<a href="images/projects/web2.jpg" class="thumbnail image-zoom-link">
							      <img src="images/projects/thumbs/web2.jpg" alt="..." class="thumbnail img-responsive">
							    </a>
							</div>
							<div class="col-xs-4 recent-work-padding">
								<a href="images/projects/web3.jpg" class="thumbnail image-zoom-link">
							      <img src="images/projects/thumbs/web3.jpg" alt="..." class="thumbnail img-responsive">
							    </a>
							</div>
							<div class="col-xs-4 recent-work-padding">
								<a href="images/projects/illustration1.jpg" class="thumbnail image-zoom-link">
							      <img src="images/projects/thumbs/illustration1.jpg" alt="..." class="thumbnail img-responsive">
							    </a>
							</div>
						</div>
						Recent Work -->
					</div>
					

					<!-- Copyright -->
					<div class="row">
						<hr class="dark-hr">
						<div class="col-sm-10 col-xs-9">
							<p class="copyright">© 2015 <a href="http://infotechcom.ru" target="_blank">Инфоком</a></p>
						</div>

						<div class="col-sm-1 col-xs-1">
							<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=31882661&amp;from=informer"
target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/31882661/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:31882661,lang:'ru'});return false}catch(e){}" /></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter31882661 = new Ya.Metrika({
                    id:31882661,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/31882661" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
						</div>

						<div class="col-sm-1 col-xs-2 text-right">

							<a href="#" class="scroll-top"><div class="footer-scrolltop-holder"><span class="ion-ios7-arrow-up footer-scrolltop"></span></div></a>
						</div>
					</div><!-- /row -->
				</div><!-- /container -->
			</footer><!-- /footer -->
			<!-- End Footer --> 

		</div><!-- /boxed -->
	</div><!-- /bg boxed-->
	<!-- End Boxed or Fullwidth Layout -->

	<!-- Javascript Files -->
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/hover-dropdown.js"></script>

</body>
</html>