		<!-- Begin Contact -->
			<section class="mt40 mb40">
				<div class="container">

					<!-- Begin Form -->
					<div class="row">
						<div class="col-sm-9">
							<div class="heading mb20"><h4><span class="ion-android-mail mr15"></span>О сайте</h4></div>
							<p class="mb20">
<p>&nbsp; &nbsp; <b><span class="roz12"></span></b>На сайте собранно ОЧЕНЬ много материала посвященного 
                    звукотехнике - предварительные усилители, усилители мощности 
                    и источники питания. Это принципиальные схемы, описания, чертежи 
                    печатных плат (правда далеко не на все схемы), а так же обзоры 
                    печатных изданий. Здесь вы можете найти более десятка предварительный 
                    усилителей с регуляторами тембра и эквалайзерами, около ста 
                    схем усилителей мощности от 2 до 2000 Вт, около 40 схем ламповых 
                    усилителей, чуть больше десятка схем импульсных источников 
                    питания, как автомобильных (до 600Вт), так и сетевых (до 2000Вт), 
                    разжована схемотехника компьтерных блоков питания, дюжина 
                    описаний акустических систем, а так же довольно много материала 
                    раскрывающего секреты качественного воспроизведения звука, 
                    начиная от используемой элементной баазы, схемотехники и заканчивая 
                    теорией распространения звуковых колебаний. <br>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- В тексте (стандарт) -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-7134947387197644"
     data-ad-slot="5902861018"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script><br>
                    &nbsp; &nbsp; Кроме этого на сайте довольно много описаний 
                    устройств бытовой автоматики, рассмотренны в подробностях 
                    автоматы световых эффектов, приведены подборки статей по тематике. 
                    Есть уникальные обучающие материалы по основам электроники, 
                    приведены выдержки из книг по электронике, свободно распространяемых 
                    в интернете.<b><span class="roz12"></span></b><br>
                    &nbsp; &nbsp; Для большего удобства создана <a href="karta.htm" target="_blank">КАРТА</a> 
                    сайта, на которой приведены ссылки на все имеющиеся на сайте 
                    страницы, упорядочены по тематикам.<br>
                    &nbsp; &nbsp; <b><span class="roz12"></span></b>На сайте имеются 
                    уникальнейшие статьи как для начинающих, так и для продвинутых 
                    электронщиков:<br>
                    &nbsp; &nbsp; <b><span class="roz12"></span></b>&nbsp; &nbsp; 
                    <a href="stats02/audiobook.htm" target="_blank">Краткий справочник 
                    поклонников аудиотехники</a>. В справочнике приведены подсказки 
                    о токе покоя оконечных транзисторов, вычисляемому по падению 
                    напряжения на токовыравнивающих транзисторах, сечение проводов 
                    питания для автомобильных усилителей мощности, сечение обмоточных 
                    проводов трансформаторов относительно протекающего через них 
                    тока, диаметры проводов для плавких предохранителей, таблица 
                    выходных мощностей в зависимости от выходного напряжения, 
                    краткая справка по цветовой маркировке резисторов и конденсаторов 
                    и многое другое.<br>
                    &nbsp; &nbsp; <b><span class="roz12"></span></b>&nbsp; &nbsp; 
                    <a href="stats02/cvet.htm" target="_blank">Обзор схемотехники 
                    приставок ЦВЕТОМУЗЫКА</a>. В статье приведен обзор наиболее 
                    популярных фильтров и силовых ключей. Множество приведенных 
                    параметров и примеров дают возможность подобрать необходимую 
                    именно Вам конструкцию.<br>
                    &nbsp; &nbsp; <b><span class="roz12"></span></b>&nbsp; &nbsp; 
                    <a href="stats02/eqobzor.htm" target="_blank">Обзор схемотехники 
                    эквалайзеров</a>. Статья дает исчерпывающий ответ о необходимости 
                    и правильности выбора эквалайзера, его полосности и схемотехнике.<br>
                    &nbsp; &nbsp; <b><span class="roz12"></span></b>&nbsp; &nbsp; 
                    <a href="stats02/ampovik01.htm" target="_blank">АМПОВИЧОК</a> 
                    - подробнейшая инструкция в трех частях об использовании симулятора 
                    МИКРО-КАП в звукотехнике. Рассмотрены самые популярные схемы 
                    усилителей мощности.<br>
                    &nbsp; &nbsp; <b><span class="roz12"></span></b>&nbsp; &nbsp; 
                    <a href="stats02/sounbarrel.htm" target="_blank">Подробная 
                    инструкция о сборке акустической системы с повышенным КПД 
                    в области низких частот</a>. Приведены подробные пояснения, 
                    объясняющие принцип повышения КПД, приведены чертежи, поностью 
                    описана технология сборки.<br>
                    &nbsp; &nbsp; <b><span class="roz12"></span></b>&nbsp; &nbsp; 
                    <a href="stats/st_din.htm" target="_blank">Устройство динамической 
                    головки</a>. Подробное описание с множеством рисунков об устройстве 
                    динамической головки, а так же логическое продолжение - <a href="stats/st_oformlen.htm" target="_blank">Акустическое 
                    оформление</a>.<br>
                    &nbsp; &nbsp; <b><span class="roz12"></span></b>&nbsp; &nbsp; 
                    <a href="stats/st_istosnik.htm" target="_blank">Источники 
                    звукового сигнала</a>. Ни для кого не секрет, что качество 
                    звука звуковоспроизводящей аппаратуры довольно сильно снизилось. 
                    Ознакомившись со статьей каждый сможет ответить себе насколько 
                    качественный звук нужен именно ему.<br>
                    &nbsp; &nbsp; <b><span class="roz12"></span></b>&nbsp; &nbsp; 
                    Если ознакомившись с предыдущей статьей Вы решили, что Вам 
                    нужен хороший звук, а бюджет не позволяет приобрести брендовую 
                    технику, то в ознакомившись со статьей <a href="stats/st_komponents.htm" target="_blank">Компоненты</a> 
                    для аудиотехники Вы сможете самостоятельно выбирать компоненты, 
                    необходимые Вашему усилителю.<br>
                    &nbsp; &nbsp; <b><span class="roz12"></span></b>&nbsp; &nbsp; 
                    <a href="stats/st_opamp.htm" target="_blank">Операционные 
                    усилители в звукотехнике</a>. ОУ в звукотехнике используются 
                    довольно давно и это не секрет. А вот что можно собрать на 
                    ОУ в усилителе мощности подробно описанно в данной статье.<br>
                    &nbsp; &nbsp; <b><span class="roz12"></span></b>&nbsp; &nbsp; 
                    <a href="interarh/umz.htm" target="_blank">Повышение надежности 
                    усилителя мощности</a> - одна из целей любого паяльщика. В 
                    данной статье приведено несколько практических советов о том, 
                    как собрать усилитель, чтобы конструкция получилась весьма 
                    и весьма надежной.<br>
                    &nbsp; &nbsp; <b><span class="roz12"></span></b>&nbsp; &nbsp; 
                    <a href="stats/UMZTDA7293.htm" target="_blank">TDA7293</a> 
                    - довольно популярный интегральный усилитель мощности, однако 
                    у этой микросхемы есть несколько секретов, раскрываемых в 
                    этой статье, а так же есть и <a href="nabor/nabTDA7293.htm" target="_blank">уникальная 
                    схема включения</a>, позволяющая добиться от данной микросхемы 
                    наилучших результатов.<br>
                    &nbsp; &nbsp; <b><span class="roz12"></span></b>&nbsp; &nbsp; 
                    <b><span class="roz12"></span></b><br>

                    <b><span class="roz12"></span></b><br>
                    &nbsp; &nbsp; <b><span class="roz12">КАК ПОЛЬЗОВАТЬСЯ САЙТОМ?</span></b><br>
                    &nbsp; &nbsp; Слева находиться меню сайта выбирая тот или 
                    иной раздел Вы попадет на список имеющихся в этом разделе 
                    материалов, ну а дальше уже на саму страницу. Кроме этого 
                    есть<a href="karta.htm" target="_blank"> полная карта сайта</a>, 
                    на которой находятся ссылки на ВСЕ станицы нашего сайта, причем 
                    большинство имеет краткую антотацию. Таким образом, сохранив 
                    эту страницу у себя на компьютере Вы в любой момент может 
                    перейти на интересующую страницу нашего сайта непосредственно 
                    стартуя со своего компьютера, тем самым экономя время и трафик.<br>
                    &nbsp; &nbsp; Сайт поделен на следующие разделы:<br>
                    &nbsp; &nbsp; &nbsp; &nbsp; <b><span class="roz11">КОМПОНЕНТЫ</span></b> 
                    - перечень компонентов имеющихся у нас в продаже, если у нас 
                    есть необходимоя информация, то напротив компонента указаны 
                    ближайшие аналоги и функциональное назначение. Кроме этого 
                    каждая страница этого раздела оснащена поисковыми строчками 
                    наиболее популярных баз pdf описний от заводов-производителей 
                    и непосредственную ссылку на компонент, приведенный на этой 
                    страницы, для поиска pdf описания на сайте <a href="http://www.alldatasheet.com" target="_blank">http://www.alldatasheet.com</a><br>
                    &nbsp; &nbsp; &nbsp; &nbsp; <b><span class="roz11">УСИЛИТЕЛИ 
                    НА М/С</span></b> - описание усилительй мощности, принципиальные 
                    схемы, выполненых на микросхемах, по возможности имеются чертежи 
                    печатных плат, а так же рекоменгдации по сборке.<br>
                    &nbsp; &nbsp; &nbsp; &nbsp; <b><span class="roz11">УСИЛИТЕЛИ 
                    НА VT</span></b> - описание усилителей мощности, принципиальные 
                    схемы, рекомендации по сборке и регулировке, выполненых на 
                    транзисторах с различной выходной мощностью и качеством звучания. 
                    На многие усилители имеються чертежи печатных плат.<br>
                    &nbsp; &nbsp; &nbsp; &nbsp; <b><span class="roz11">ПРЕДВАРИТЕЛЬНЫЕ</span></b> 
                    - описание, принципиальные схемы предварительных усилителей, 
                    регулятров тембра, эквалайзеров.<br>
                    &nbsp; &nbsp; &nbsp; &nbsp; <b><span class="roz11">ПИТАНИЕ</span></b> 
                    - описание, принципиальные схемы, рекомендации по сборке и 
                    регулировке источников питания для аудиоаппаратуры и других 
                    потребителей.<br>
                    &nbsp; &nbsp; &nbsp; &nbsp; <b><span class="roz11">АКУСТИКА</span></b> 
                    - подборка статей по акустическим системам, акустике в целом, 
                    динамических головках и способах оформелния акустически систем, 
                    рекомендации по расчетам и сборке.<br>
                    &nbsp; &nbsp; &nbsp; &nbsp; <b><span class="roz11"></span></b><b><span class="roz11">БЫТОВАЯ 
                    ЭЛ-КА</span></b> - подборка статей по бытовой электронике, 
                    описания различных устройств автоматики.<br>
                    &nbsp; &nbsp; &nbsp; &nbsp; <b><span class="roz11"></span></b><b><span class="roz11">СОФТ</span></b> 
                    - подборка различных программ, необходимых радиолюбителям 
                    и не только.<br>
                    &nbsp; &nbsp; &nbsp; &nbsp; <b><span class="roz11"></span></b><b><span class="roz11">РАЗНОЕ</span></b> 
                    - все то, что не вошло в предыдущие разделы, но по нашему 
                    мнению заслуживает внимание паяльщиков.<br>
                    &nbsp; &nbsp; &nbsp; &nbsp; <b><span class="roz11"></span></b><b><span class="roz11">ЭТО 
                    ИНТЕРЕСНО</span></b> - статьи на темы, которые к электронике 
                    вообще никакого отношения не имеют, тем не менее они есть 
                    и могут быть полезными<br>
                    &nbsp; &nbsp; <br>
                    &nbsp; &nbsp; Сверху и слева находяться баннеры контекстной 
                    рекламы, т.е. рекламы по интересующему Вас вопросу, поскольку 
                    и Яндекс-директ и Гугл размещают рекламу только по теме страницы, 
                    поэтому если Вы не нашли интересующую Вас информацию можете 
                    смело воспользоваться ссылками этой рекламы.</p>
                  <p align="center">
				   
				  
				  </p>

                  <p align="center">&nbsp;</p>
                  <p> &nbsp; &nbsp;<span class="roz11"> Мы не будем отвечать на 
                    вопрос </span><b><span class="kras11">КАКОЙ УСИЛИТЕЛЬ ЛУЧШЕ?</span></b><span class="kras11"></span><span class="roz11">, 
                    поскольку сколько людей, столько и мнений, причем у некоторых 
                    их несколько. Ну а чтобы хоть как то дать представление в 
                    таблице будут показаны количества продаж того или иного усилителя, 
                    ну а выводы делайте сами. Проданные моноблоки будут учитываться 
                    отдельно.</span><br>
                    <br>
                    <br>
                  </p>

							</p>
						<!-- Реклама под текстом -->
		                <%= render "/static_pages/adv_under_text" %>
					</div>


					<%= render "column" %>
				</div><!-- /container -->
			</section><!-- /section -->
			<!-- End Contact -->