<!--noindex-->
	<section class="mt40 mb40">
		<div class="container">
			<!-- Begin Form -->
			<div class="row">
				<div class="col-sm-9 col-sm-offset-2">
					<div class="heading mb20"><h4><span class="ion-android-mail mr15"></span>Send us a Message</h4></div>
					<p class="mb20">Aenean sodales erat sit amet quam tincidunt tincidunt. Sed aliquet <b>mauris sit amet ullamcorper</b> sodales.</p>
					<form role="form">
	                    <div class="form-group">
	                        <input type="email" placeholder="Name" class="form-control" id="InputName">
	                    </div>
	                    <div class="form-group">
	                        <input type="email" placeholder="Email Address" class="form-control" id="InputEmail1">
	                    </div>
	                    <div class="form-group">
	                        <textarea class="form-control" placeholder="Message" id="InputMessage" rows="7"></textarea>
	                    </div>
	                    <button type="submit" class="btn btn-rw btn-primary">Submit</button>
	                </form>
				</div>
			</div>
		</div>
	</section>
<!--/noindex-->